#main-header img{
    width: 100%;
    height: 100%;
}
#main-header .bg-black{
    background: black;
    color: white;
}
#main-header .menu-item{
    width: 30%;
}
#main-header .menu-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
#home .bg-lightblue{
    background: rgba(0, 81, 255, 0.568);
}
#resume .bg-lightgreen{
    background: rgba(0, 128, 0, 0.589);
}
#contact textarea{
    box-sizing: border-box;
}
@media(min-width: 1199px) {
    #main-header .menu-item {
        padding: 3rem !important;
    }
}
